<%- include('./includes/head.ejs') %>
    </head>
    <body>
        <%- include('./includes/navigation.ejs') %>
        <main>
            <div class="container vh-100">
                <div class="row justify-content-center h-100 align-items-center flex-column">
                    <h1>
                        Some problem happend!
                    </h1>
                    <p>
                        Please try later, thank you.
                    </p>
                </div>
            </div>
        </main>
<%- include('./includes/end.ejs') %>