<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <div class="jumbotron">
                    <div class="row justify-content-center">
                        <h1 class="display-1">Esam Shop</h1>
                    </div>
                    <div class="row justify-content-center">
                        <p class="lead">Welcome to our shop....</p>
                    </div>
                </div>
            </div>
        </main>
<%- include('../includes/end.ejs') %>
